body{ background: #000000; }
#container {
    display: flex;
    justify-content: space-around;
  
    #scss {
      color: red;
      user-select: none;
  
      &:hover {
        font-size: 24px;
        color: blue;
      }
    }
  }